.navbar strong{
    color: #fefae0;
    font-size: 1.8em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.col-6 {
    margin: 15px auto;
}

.list-group {
    margin-bottom: 15px;
}

.btn-job-detail button{
    margin: auto 10px;
}

.button-group{
    display: flex;
    margin: 20px auto;
}

.pagination {
    cursor: pointer;
}
