<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <a routerLink="/about">About Page</a>

    <button type="button" (click)="goToAbout()">Go to About</button>
    <button type="button" (click)="composeEmail()">Compose Email</button>
    <button type="button" (click)="sendSMS()">Send SMS</button>
    <button type="button" (click)="getAftertenseconds()">Notify</button>
  </div>
</ion-content>

