.navbar-brand{
    width: 200px;
}

.brand-img {
    display: block;
    margin: 0 auto;
    width: 65%;
}

.col-6 {
    margin: 15px auto;
}

.list-group {
    margin-bottom: 15px;
}
.pagination {
    cursor: pointer;
}