<div class="container">
  <table appImportantText>
    <caption>
      The Weather in{{
        weather.name
      }}
    </caption>

    <th colspan="2">Spring</th>
    <th colspan="2">Summer</th>
    <th colspan="2">Autumn</th>
    <th colspan="2">Winter</th>

    <tr>
      <td>Spring Morning</td>
      <td>Spring Evening</td>

      <td>Summer Morning</td>
      <td>Summer Evening</td>

      <td>Autumn Morning</td>
      <td>Autumn Evening</td>

      <td>Winter Morning</td>
      <td>Winter Evening</td>
    </tr>

    <tr>
      <td>{{ weather.springN }}</td>
      <td>{{ weather.springM }}</td>

      <td>{{ weather.summerN }}</td>
      <td>{{ weather.summerM }}</td>

      <td>{{ weather.autumnN }}</td>
      <td>{{ weather.autumnM }}</td>

      <td>{{ weather.winterN }}</td>
      <td>{{ weather.winterM }}</td>
    </tr>
  </table>
</div>
